<p id="Titulo">conversor Moedas</p><br>

<div id="tutorial">
  <h1>insira os valores com ponto no lugar de virgula</h1> <br>
  <h1>exemplo: 1.20  1.60  0.60...</h1><br><br>
</div>



<table id="select_moeda">
    <thead>
      <tr>  
        <th scope="col"> 
    <div id="opts">
        <select [(ngModel)] = "indx1">
          <option >Dolar</option>
          <option >Euro</option>
          <option >Real</option>
    </select> para 

      <select [(ngModel)] = "indx2">
          <option >Dolar</option>
          <option >Euro</option>
          <option >Real</option>
      </select>
    </div>
        

           

        </th>
      </tr>
    </thead>
    
<div id="conversores">
    <tbody>
      <tr>

        <th > Taxa Do cambio <input type="text" [(ngModel)] = "TaxaCambio" ><br/> 
        
          Valor Moeda  <input type="text" [(ngModel)] = "M1"></th>
        <td></td>
      </tr>
      
      <tr>
        <th>  <button (click)="Conv()"> Converter</button> <br> 
        
        Moeda Convertida<input type="text" [(ngModel)] = "convert" readonly></th>
     
     </tr>
    
    </tbody>
</div> 

  </table>