<p id="Titulo">conversor Moedas</p><br>

<table class="select_moeda">
    <thead>
      <tr>  
        <th scope="col"> 

        <select [(ngModel)] = "indx1">
            <option >Dolar</option>
            <option >Euro</option>
            <option >Real</option>
       
        </select> para 

        <select [(ngModel)] = "indx2">
            <option >Dolar</option>
            <option >Euro</option>
            <option >Real</option>
       
        </select>

           

        </th>
      </tr>
    </thead>
    
<div class="conversores">
    <tbody>
      <tr>

        <th > Taxa Do cambio <input type="text" [(ngModel)] = "TaxaCambio" ><br/> 
        
          Valor Moeda  <input type="text" [(ngModel)] = "M1"></th>
        <td></td>
      </tr>
      
      <tr>
        <th>  <button (click)="Conv()"> Converter</button> <br> 
        
        Moeda Convertida<input type="text" [(ngModel)] = "convert" readonly></th>
     
     </tr>
    
    </tbody>
</div> 

<div class="convertit">


</div>

  </table>